/* https://www.figma.com/file/NxbZm3CAovYh89dFXe7EOw/Image-Uploader?type=design&node-id=0-1&mode=design&t=2m2GbGqt4REoTmh0-0 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Poppins:wght@500&display=swap');

/* 
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
*/

:root {
  --titleBlackStrong: #333333;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--titleBlackStrong);
}

html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button { 
  cursor: pointer;
  border: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

i { font-style: normal;}

#app { 
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2fr .1fr;
  justify-items: center;
}


.hidden {display: none;}

